@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.image-container {
    position: relative;
    text-align: center;
    width: fit-content;
}

img {
    display: block;
    width: 100%;
    height: auto;
}
.up_left_text {
    position: absolute;
    top: 10px;   /* Matn yuqori qismda */
    left: 10px;  /* Matn chap tomonda */
    color: white;
    font-size: 30px; /* Matn o'lchami kattaroq */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.text-overlay {
    position: absolute;
    margin: 30px;
    bottom: 10px;
    left: 10px;   
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Roboto';
}

.below-text {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    font-family: 'Roboto';
    
}

.logoes {
    font-size: 1px;
    display: flex;
    margin: 10px;
    width: 100px;
  
}

.last_text {
    text-align: center;
    margin: 30px;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 5px;
    word-spacing: 10px;
    background-color: aqua;

}

.again_text {
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    font-size: larger;
    background-color: yellow;
    padding-left: 40px;
    padding-left: 50px;
}


